{% if error is defined %}
    {{ message }}
{% endif %}
<script src="js/bootstrap.min.js"></script>
<link rel="stylesheet" href="css/bootstrap.min.css">

<table class="table table-dark">
    {% for reservation in reservations %}
        <tr>
            <td>
                Nume client: {{ reservation.firstName }}
            </td>
            <td>
                Prenume client: {{ reservation.lastName }}
            </td>
            <td>
                Masina: {{ reservation.mark }} {{ reservation.series }}
            </td>
            <td>
                De la: {{ reservation.fromDate|date('Y-m-d') }}
            </td>
            <td>
                Pana la:{{ reservation.toDate|date('Y-m-d') }}
            </td>
            <td>
                Aprobat:
                {% if reservation.approved == 1 %}
                    DA
                {% else %}
                    NU
                {% endif %}
            </td>
        </tr>
    {% endfor %}
</table>